body {
  padding-top: 200px; /* Adjust based on the height of your navbar */
}


.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}

.darken-grey-text {
  color: #2E2E2E;
}

#log {
  border: 2px solid white;
  padding: 60px 40px;
  margin-top: 80px;
}

.user-name {
  position: relative;
  margin-left: 5px;
  font-weight: normal;
  color: white;
}

.add-to-cart{
  display: inline-block;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  transform: translateX(-20px);
}

.add-to-cart:hover{
  color: #cad7e9;
}

.login-button{
  display: inline-block;
}