<div class="card text-center">
    <!-- <div  class="card-header">
        <a href="#home">Back To Top</a>
    </div> -->
    <div class="card-body">
      <h5 class="card-title">Mobile World</h5>
      <!-- <h5 class="card-title">Testverse HomePage</h5> -->
      <p class="card-text">We Respect Your Choice</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-muted">
      About Us :- Mobile No:7385374504 || Mail:arya@gmail.com || Address: Pune || © 2007-2023 XCART.com.

    </div>
  </div>
