<div class="container-fluid bg">
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        
        <div class="col-md-4 col-sm-4 col-xs-12">
                
                <form (ngSubmit)="PassValid(queform)" #queform=ngForm>
                        <div style="text-align: center"><img style="width: 387px" class="img-responsive"  src="../../assets/Icons/X.jpg">
                        </div>
                        <div class="form-group">
                                <!-- <label>Provide Your Associate Email Id</label>
                                <input type="email" class="form-control" placeholder="Email"  name="EmailId" ngModel> -->
                                
                                <label>Provide Your Associate Email Id</label>
                                <input type="username" class="form-control" name="username" ngModel  email required #username="ngModel" [ngClass]="{ 'is-invalid': queform.submitted && username.errors }"/>
                                <div *ngIf="queform.submitted && username.errors" class="invalid-feedback">
                                <div *ngIf="username.errors['required']">Email is required</div>
                                <div *ngIf="username.errors['email']">Email is invalid</div>
                                </div>
                                
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>
                        
                    
        </div>
    </div>
</div>
